html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
}

h1, h4 {
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */

.companylogo {
  background-color: black;
}

.companylogo .container {
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem .5rem;
}

.companylogo img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Main Banner */

.mainbanner {
  height: 25rem;
  background-image: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mainbanner .headline {
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
  width: 20rem;
  background-color: black;
}

.mainbanner h1 {
  font-size: 2rem;
  margin-top: 0.25rem;
  line-height: 1.2;
}

@media only screen and (max-width: 1024px) {
  .mainbanner h4 {
    font-size: 0.8rem;
  }
  .mainbanner h1 {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 470px) {
  .mainbanner {
    height: 15rem;
  }
  .mainbanner .headline {
    width: 100%;
    padding: 1rem 2rem;
    top: 11rem;
  }
  .mainbanner .headline h4 { font-size: .77rem; }
  .mainbanner .headline h1 { font-size: 1rem; }
}

/* Navigation Bar */

.navbar {
  background-color: firebrick;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.navbar .mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .navbar .mobile-nav {
    display: block;
    text-align: center;
    padding: 0.75rem 0;
  }
  .navbar .desktop-nav {
    display: none;
  }
}

/* Products */

.products {
  background-color: white;
}

.products .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: space-between;
}

.products .item {
  border: 4px solid black;
  background-color: white;
  width: 30%;
}

.products .image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  height: 9rem;
}

.products img {
  max-width: 9rem;
}

.products .description {
  display: block;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .products .item { width: 47%; }
  .products .thermal-glasses { display: none; }
}

@media only screen and (max-width: 470px) {
  .products .container { justify-content: center; }
  .products .item { width: 90%; }
  .products .thermal-glasses { display: none; }
  .products .cellular-watch { display: none; }
}

/* Company Info */

.companyinfo {
  background-color: white;
}

.companyinfo .container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.companyinfo .item {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.companyinfo h5 {
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

.companyinfo span {
  color: black;
}

@media only screen and (max-width: 470px) {
  .companyinfo .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .companyinfo .item {
    width: 90%;
    margin-bottom: 1rem;
  }
}

/* Footer */

footer {
  background-color: black;
  height: 5rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
